<template name="sidebar">
	<div class="list-group">
    <a href="#" class="list-group-item active">Team A vs Team B</a>
    <a href="#" class="list-group-item">Team B vs Team C</a>
    <a href="#" class="list-group-item">long lidsahjdbsjhd fdsjkfbsdjhgbf</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
    <a href="#" class="list-group-item">Link</a>
  </div>
</template>